# =========================
# Java / Spring Boot
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# Maven
# =========================
.mvn/
mvnw
mvnw.cmd

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-data/
*.tar

# =========================
# Environment Files
# =========================
.env

# =========================
# Temporary Files
# =========================
tmp/
temp/